
/*
@colorBG1: #f8faf7;
@colorBG2: #eff5f0;
@colorBG3: #eaf1ea;
@colorBG4: #e6eee5;

@colorFG1: #3f434b;
@colorFG2: #667583;
@colorFG3: #8b9faf;
@colorFG4: #b8c9d6;
*/

body {
  background-color: white;
}

* {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: #3f434b;
  line-height: normal;
}

h1 {
  color: #3f434b;
}

h2 {
  color: #3f434b;
}

h3 {
  color: #3f434b;
  padding-top: 10px;
}


.svg-logo {
  height: 25px;
}

.svg-logo-big {
  height: 50px;
  margin: 5px;
}

.centered {
  text-align: center;
  margin-left: auto; 
  margin-right: auto;
}

.dsvalpin-lists {
  border-collapse: collapse;
  width: 100%;
  background-color: #f8faf7;
}

.dsvalpin-livetable-heading  {
  height: fit-content;
}

.nav-tabs {
  background-color: #f8faf7;
} 


.dsvalpin-lists tr:nth-child(even){
  background-color: #eff5f0;
}

.dsvalpin-lists tr:hover {
  background-color: #b8c9d6;
}

.dsvalpin-lists th, .dsvalpin-lists th em {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #667583;
  color: white;
}

table tr th.dsvalpin-livetable-divider
{
  padding: 1px;
}

.dsvalpin-lists td, .dsvalpin-lists th {
  border: 1px solid #ddd;
  padding: 6px;
}

.dsvalpin-lists .cell-groupheader {
  padding-top: 16px;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  /*background-color:  #ddd;*/
}

.cell-centered {
  text-align: center;
}

.cell-right {
  text-align: right;
}

.vertical {
  writing-mode: vertical-rl;
  /* text-orientation: sideways; */
  /* -ms-writing-mode: tb-rl;  */
  /* writing-mode: vertical-rl;  */
  transform:rotate(180deg);
}

.first-col {
  width: 1px;
}

.just_modified {
  background-color: coral !important;
}

.flex-container-centered {
  display: flex;
  justify-content: center;
}