{
  "Runs": 2,
  "DefaultGrouping": "Participant.Group",
  "ActiveFields": [
    "Year",
    "Club",
    "Points"
  ],
  "RaceResultView": "RaceResult_BestOfTwo",
  "RaceResultViewParams": null,
  "Run1_StartistView": "Startlist_1stRun_Points_15",
  "Run1_StartistViewGrouping": "Participant.Group",
  "Run1_StartistViewParams": null,
  "Run2_StartistView": "Startlist_2nd_PreviousRun_30_OnlyWithResults",
  "Run2_StartistViewGrouping": "Participant.Sex",
  "Run2_StartistViewParams": null,
  "LivetimingParams": {
    "Bewerb": "01122",
    "Login": "livetiming",
    "Password": "livetiming",
    "EventName": "30.11.2019: LiveTiming Demonstration, RS, 1234MRBR"
  }
}