{
  "Runs": 2,
  "DefaultGrouping": "Participant.Class",
  "ActiveFields": [
    "Year",
    "Club"
  ],
  "RaceResultView": "RaceResult_Sum",
  "RaceResultViewParams": null,
  "Run1_StartistView": "Startlist_1stRun_StartnumberAscending",
  "Run1_StartistViewGrouping": "Participant.Class",
  "Run1_StartistViewParams": null,
  "Run2_StartistView": "Startlist_2nd_StartnumberAscending",
  "Run2_StartistViewGrouping": "Participant.Class",
  "Run2_StartistViewParams": null,
  "LivetimingParams": null
}