{
"Name": null,
"Runs": 2,
"DefaultGrouping": "Participant.Sex",
"ActiveFields": [
"Year",
"Club",
"Nation",
"Code",
"Points"
],
"RaceResultView": "RaceResult_SumDSVPointsSchool",
"RaceResultViewParams": null,
"Run1_StartistView": "Startlist_1stRun_StartnumberAscending",
"Run1_StartistViewGrouping": "Participant.Sex",
"Run1_StartistViewParams": null,
"Run2_StartistView": "Startlist_2nd_PreviousRun_30_OnlyWithResults",
"Run2_StartistViewGrouping": "Participant.Sex",
"Run2_StartistViewParams": null,
"LivetimingParams": null,
"ValueF": 730.0,
"ValueCutOff": 250.0,
"ValueA": 0.0,
"MinimumPenalty": 0.0
}