
/*
@colorBG1: #f8faf7;
@colorBG2: #eff5f0;
@colorBG3: #eaf1ea;
@colorBG4: #e6eee5;

@colorFG1: #3f434b;
@colorFG2: #667583;
@colorFG3: #8b9faf;
@colorFG4: #b8c9d6;
*/

body {
  background-color: white;
}

* {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: #3f434b;
}

h1 {
  color: #3f434b;
}

h2 {
  color: #3f434b;
}

h3 {
  color: #3f434b;
  padding-top: 10px;
}


.svg-logo {
  height: 25px;
}

.svg-logo-big {
  height: 50px;
  margin: 5px;
}

.dsvalpin-lists {
  border-collapse: collapse;
  width: 100%;
  background-color: #f8faf7;
}

.nav-tabs {
  background-color: #f8faf7;
} 

/* .nav-link.active  {
  background-color: #eff5f0 !important;
} */

.dsvalpin-lists tr:nth-child(even){background-color: #eff5f0;}


.dsvalpin-lists tr:hover {background-color: #b8c9d6;}

.dsvalpin-lists th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #3f434b;
  color: white;
}

.dsvalpin-lists td, .dsvalpin-lists th {
  border: 1px solid #ddd;
  padding: 6px;
}

.dsvalpin-lists .cell-groupheader {
  padding-top: 16px;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  /*background-color:  #ddd;*/
}

.cell-centered {
  text-align: center;
}

.just_modified {
  background-color: coral !important;
}

.flex-container-centered {
  display: flex;
  justify-content: center;
}