<!DOCTYPE html>
<html>
<head>
  <title>DSVAlpin 2</title>

  <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="css/bootstrap-vue.min.css" />
  <link type="text/css" rel="stylesheet" href="css/styles.css">

  <script type="text/javascript" src="Js/jquery-3.3.1.slim.min.js"></script>
  <script type="text/javascript" src="Js/popper.min.js"></script>
  <script type="text/javascript" src="Js/bootstrap.min.js"></script>
  <script type="text/javascript" src="Js/Vue.js"></script>
  <script type="text/javascript" src="Js/bootstrap-vue.min.js"></script>
</head>
  <body>
    <div id="app">
      <div>
        <b-tabs content-class="mt-3">
          <b-tab title="Startliste">
            <h2>Startliste</h2>

            <div class="flex-container-centered">
              <div>
                  <b-form-select v-model="groupby" class="mb-3">
                    <option value="">---</option>
                    <option value="Class">Klasse</option>
                    <option value="Group">Gruppe</option>
                    <option value="Sex">Geschlecht</option>
                  </b-form-select>
              </div>
              <div>
                <b-form-select v-model="filterby" :options="categories" class="mb-3">
                </b-form-select>
              </div>
            </div>
            <div><dsv-racedata v-bind:racedata="currentracerun"/></div>


            <dsv-startlist v-bind:datalist="startlist" v-bind:groupby="groupby" v-bind:filterby="filterby"/>
          </b-tab>

          <b-tab title="Live">
              <h2>Live</h2>
              <div>
                <h3>Auf der Strecke</h3>
                <dsv-ontracklist v-bind:datalist="ontracklist" />
              </div>
              <div>
                <h3>Vorläufiges Ergebnis</h3>
                <dsv-runresultslist v-bind:datalist="runlist" v-bind:groupby="groupby" v-bind:filterby="filterby"/>
              </div>
            </b-tab>

          <b-tab title="Aktueller Lauf">
            <h2>Aktueller Lauf</h2>
            <div><dsv-racedata v-bind:racedata="currentracerun"/></div>

            <div class="flex-container-centered">
                <div>
                  <b-form-select v-model="groupby" class="mb-3">
                    <option value="">---</option>
                    <option value="Class">Klasse</option>
                    <option value="Group">Gruppe</option>
                    <option value="Sex">Geschlecht</option>
                  </b-form-select>
              </div>
              <div>
                <b-form-select v-model="filterby" :options="categories" class="mb-3">
                </b-form-select>
              </div>
            </div>    
            <dsv-runresultslist v-bind:datalist="runlist" v-bind:groupby="groupby" v-bind:filterby="filterby"/>
          </b-tab>

          <b-tab title="Rennergebnis" enabled>
            <h2>Ergebnisliste</h2>

            <div class="flex-container-centered">
              <div>
                <b-form-select v-model="groupby" class="mb-3">
                  <option value="">---</option>
                  <option value="Class">Klasse</option>
                  <option value="Group">Gruppe</option>
                  <option value="Sex">Geschlecht</option>
                </b-form-select>
              </div>
              <div>
                <b-form-select v-model="filterby" :options="categories" class="mb-3">
                </b-form-select>
              </div>
            </div>
            <dsv-raceresultslist v-bind:datalist="raceresultlist" v-bind:groupby="groupby" v-bind:filterby="filterby"/>
          </b-tab>

  
        </b-tabs>
      </div>
    
      <p>{{ message }}</p>

    </div>

    <script type="text/javascript" src="./Js/DSVAlpin2.js"></script>
  </body>
</html>
