<!DOCTYPE html>
<html>
<head>
  <title>DSVAlpin 2</title>
  <link rel="stylesheet" href="styles.css">
  <script type="text/javascript" src="./Js/Vue.js"></script>
</head>
  <body>
    <div id="app">
    
      <p>{{ message }}</p>

      <dsv-startlist inline-template>
        <div>
          <h2>Startliste</h2>
          <table class="dsvalpin-lists" v-if="startlist">
            <thead>
              <tr>
                <th class="cell-centered">StNr</th>
                <th>Name</th>
                <th>Vorname</th>
                <th class="cell-centered">Geschlecht</th>
                <th class="cell-centered">Jahrgang</th>
                <th>Verein</th>
                <th>Klasse</th>
                <th>Gruppe</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in startlist" v-bind:class="{ just_modified: item.JustModified }">
                <td class="cell-centered">{{ item.StartNumber == 0? "---" : item.StartNumber }}</td>
                <td>{{ item.Name }}</td>
                <td>{{ item.Firstname }}</td>
                <td class="cell-centered">{{ item.Sex }}</td>
                <td class="cell-centered">{{ item.Year }}</td>
                <td>{{ item.Club }}</td>
                <td>{{ item.Class }}</td>
                <td>{{ item.Group }}</td>
              </tr>
            </tbody>
          </table>
          <p>Updated: {{ lastUpdate }}</p>
        </div>

      </dsv-startlist>


      <dsv-runresultslist inline-template>
          <div>
            <h2>Aktueller Lauf</h2>
            <table class="dsvalpin-lists" v-if="runresultslist">
              <thead>
                <tr>
                  <th class="cell-centered">Position</th>
                  <th class="cell-centered">StNr</th>
                  <th>Name</th>
                  <th>Vorname</th>
                  <th class="cell-centered">Geschlecht</th>
                  <th class="cell-centered">Jahrgang</th>
                  <th>Verein</th>
                  <th>Klasse</th>
                  <th>Gruppe</th>
                  <th class="cell-centered">Zeit</th>
                  <th>&nbsp;</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="item in runresultslist" v-bind:key="item.Id" v-bind:class="{ just_modified: item.JustModified }">
                  <td class="cell-centered">{{ item.Position ==0 ? "---" : item.Position }}</td>
                  <td class="cell-centered">{{ item.StartNumber == 0? "---" : item.StartNumber }}</td>
                  <td>{{ item.Name }}</td>
                  <td>{{ item.Firstname }}</td>
                  <td class="cell-centered">{{ item.Sex }}</td>
                  <td class="cell-centered">{{ item.Year }}</td>
                  <td>{{ item.Club }}</td>
                  <td>{{ item.Class }}</td>
                  <td>{{ item.Group }}</td>
                  <td class="cell-centered">{{ item.Runtime }}</td>
                  <td>{{ item.DisqualText }}</td>
                </tr>
              </tbody>
            </table>
            <p>Updated: {{ lastUpdate }}</p>
          </div>
  
        </dsv-runresultslist>
  

    </div>

    <script type="text/javascript" src="./Js/DSVAlpin2.js"></script>
  </body>
</html>
