<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       throwConfigExceptions="true">

  <targets>
    <target name="logfile" 
            xsi:type="File" 
            layout="${longdate} ${message} ${exception:format=tostring}" 
            fileName="${tempdir:dir=RaceHorology/Logs}/log.${longdate:cached=true}.log" />
    <target name="logfile-fis-livetiming"
            xsi:type="File"
            layout="${longdate} ${message} ${exception:format=tostring}"
            fileName="${tempdir:dir=RaceHorology/Logs}/log-fis-livetiming.${longdate:cached=true}.log" />
    <target name="logfile-rm-livetiming"
            xsi:type="File"
            layout="${longdate} ${message} ${exception:format=tostring}"
            fileName="${tempdir:dir=RaceHorology/Logs}/log-rm-livetiming.${longdate:cached=true}.log" />
    <target name="logfile-alpenhunde"
            xsi:type="File"
            layout="${longdate} ${message} ${exception:format=tostring}"
            fileName="${tempdir:dir=RaceHorology/Logs}/log-alpenhunde.${longdate:cached=true}.log" />
    <target name="logconsole" 
            xsi:type="Console" 
            layout="${longdate} ${message} ${exception:format=tostring}"/>
  </targets>

  <rules>
    <logger name="LiveTimingFIS.LiveTimingFIS" minlevel="Debug" writeTo="logconsole" />
    <logger name="LiveTimingFIS.LiveTimingFIS" minlevel="Info" writeTo="logfile-fis-livetiming" />
    <logger name="LiveTimingRM" minlevel="Debug" writeTo="logfile-rm-livetiming" />
    <logger name="RaceHorologyLib.TimingDeviceAlpenhunde" minlevel="Debug" writeTo="logfile-alpenhunde" />
    <logger name="*" minlevel="Info" writeTo="logconsole" />
    <logger name="*" minlevel="Info" writeTo="logfile" />
  </rules>
</nlog>